
{# resources/views/administration.html #}

{% extends 'layout' %}

{% block content %}

  {# action="/create?_method=PUT"#}
  <br>
  <div style="padding: 0 15px">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <a class="btn btn-primary" href="/administration/import_list">Import list</a>
      </div>
      <div class="row">
        <a class="btn btn-primary" href="/administration/import_details">Import details</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">

    </div>
    <br>

  </div>

{% endblock %}
