{% set title = 'Anime DB' %}

{% extends 'layout' %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>English Titile</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for a in anime %}
      <tr>
        <td>{{ a | display_title }}</td> {# display_title = romaji_title || title #}
        <td>{{ a.english_title }}</td>
        <td>{{ a.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
