{% set title = 'Anime DB' %}

{% extends 'layout' %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr class="align_to_center">
        <th class="align_to_center">ID</th>
        <th class="align_to_center">Cover</th>
        <th class="align_to_center">Title</th>
        <th class="align_to_center">Studio</th>
        <th class="align_to_center">Episodes</th>
      </tr>
    </thead>
    <tbody>
    {% for a in anime %}
      <tr class="align_to_center">
        <td><a href="/anime/{{ a.id }}">{{ a.id }}</a></td>
        <td><a href="/anime/{{ a.id }}"><img src="//nextanime.net/media/anime_covers/{{ a.id }}.jpg" class="img-responsive" alt="Image Not available" /></a></td>
        <td>{{ a | display_title }}</td>
        <td>{{ a.relations.studio.name }}</td>
        <td>{{ a.nr_episodes }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
