{# resources/views/anime.html #}


{% extends 'layout' %}

{# lista genuri , in progress #}
{% block genres %}
  {% set genre = ["Action","Adventure","Shounen","Horro","Slice of life","Historical","Mystery","Drama",
  "Supernatural","Sci fi","Ecchi ","Fantasy","Game","Comedy","Vampire","School","Police","Psychological",
  "Martial arts","Super power","Romance","Seinen","Harem ","Military","Thriller","Space",
  "Dementia","Mecha","Parody","Shoujo","Kids","Demons","Sports","Cars"] %}
  {% set counter = 1 %}

   <div class="row genreTab">
    {% for i in genre %}
      {% if counter%4 <= 3 %}
        <div class="col-xs-3"><input type="checkbox" value={{i}}>{{i}}</div>
        {# counter se incrementeaza automat #}
      {% endif %}
      {% if counter%4 == 0 %} {# sau daca am ajuns la capat de lista#}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
   </div>

{% endblock %}

{# loginsignup/recomandari , trebuie un if #}
{#}
{% block leftcolumn %}
  {% set range = [0,1,2,3,4] %}
  <div class="col-xs-2">
  <h3>{{ h3 }}</h3>
  {% for i in range %}
      <div>
        <div class="btn-group addx">
          <button type="button" onclick="addToUserAnimeList()">Add</button>
          <button type="button" onclick="removeFromRec()">X</button>
        </div>
        <a href="/animepage"><img src="images/scenicanime.jpeg" class="recImage" alt="Some problem"></a>
        <p>Name of anime</p>
      </div>
      <br>
  {% endfor %}
  </div>
{% endblock %}
#}

{# Anime Details #}
{% block centralcolumn %}

  <div class="col-xs-6">
    <div class = "col-xs-4">
    	<a href="#"><img src="images/scenicanime.jpeg" id="animeProfileImage" alt="Some problem"></a>
   </div>
    <div class = "col-xs-8">
    	<p>Name : <a href="#">{{ animename }}</a></p>
    	<p>English : {{ animeenglishname }}</p>
    	<p>Author : <a href="#">{{ author }}</a></p>
    	<p>Studios : {{ studio }}</p>
    	<p>Status :
    		<select id="selectStatus">
    			<option value="nothing">Nothing</option>
    			<option value="reading">Reading</option>
    			<option value="plantoread">Plan to read</option>
    			<option value="completed">Completed</option>
    			<option value="dropped">Dropped</option>
    		</select>
    	</p>
    	<p>Chapters/Volumes : <input  type="text" size="2"> / <input  type="text" size="2"></p> <!-- mai am de lucru -->
    	<p>Completion : <progress value="60" max="100"></progress></p>
    	<p>Rating : {{ rating }}</p>
    	<p>Your rating :
    		<select id="selectRating">
    			<option value="not rated">not rated</option>
    			<option value="1">1 (worst)</option>
    			<option value="2">2 (terrible)</option>
    			<option value="3">3 (awful)</option>
    			<option value="4">4 (bad)</option>
    			<option value="5">5 (not worth it)</option>
    			<option value="6">6 (unsatisfactory)</option>
    			<option value="7">7 (satisfactory)</option>
    			<option value="8">8 (good)</option>
    			<option value="9">9 (excellent)</option>
    			<option value="10">10 (master piece)</option>
    		</select>
    	</p>
    	<div class="row" id="animeBtn">
        <button type="button" onclick="addToUserAnimeList()">Add to list</button>
        <button type="button" onclick="recommendToFriend()">Recommend</button>
      </div>
    </div>
    <br>
    <div>
    	<h3>Original Material</h3><br>
    	<p>Material : {{ material }}</p><br>
    	<h3>Description</h3><br>
    	<p>{{ description }}</p><br>
    	<h3>Actors</h3><br>
    	<ul>
    	  {% set range = [0,1,2,3,4] %}
    	  {% for i in range %}
    		  <li><a href="#"><img src="images/scenicanime.jpeg" id="charImage" alt="Some problem"></a>{{characters}}/{{ actors }}</li><br>
        {% endfor %}
    	</ul>
    </div>
  </div>
{% endblock %}


{# FB #}
{% block rightcolumn %}
  <div class="col-xs-4">
    <h4>Latest news</h4>
    <iframe src="https://www.facebook.com/bogdangabriel.onete">
      <p>Technical difficulties or your browser does not support iframes.</p>
    </iframe>
  </div>
{% endblock %}
