{# resources/views/index.html #}

{% from 'macros.anime_cover' import anime_cover %}

{% extends 'layout' %}

{% block content %}
  <img src="/images/nextanime.png" class="img-responsive" alt="Image Not available">

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Recommendations</h3>
      {% if recs %}
          {% for a in recs %}
            <div class="row">
             <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
             </div>
              <div class="col-xs-8 col-md-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date aired : {{ a.air_start | date }}</p>
                {#<p>Rating</p>#}
                {#<button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-danger">X</button>#}
              </div>
            </div><br>
          {% else %}
            <p>No reccomendations found. Complete your <a href="/library">library</a> for more options!</p>
          {% endfor %}
        {% if (recs | length) %}
        <a class="btn btn-default" type="button" href='/recommendations'>More recommended anime</a>
        {% endif %}
      {% else %}
        <div class="text-center">
          <h4>Login for personalised recommendations!</h4>
          <div class="action-button"><a class="btn btn-primary" href="/login">Login or Sign Up</a></div>
        </div>
      {% endif %}
    </div>


  {# Top anime #}
    <div class="col-xs-12 col-md-4">
      <h3>Top anime</h3>
        {% for a in top %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
            </div>
            <div class="col-xs-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date aired : {{ a.air_start | date }}</p>
              {#<<p>Rating</p>#}
            </div>
           </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" href='/animedatabase'>More top anime</a>
    </div>


  {# New #}
    <div class="col-xs-12 col-md-4">
      <h3>New</h3>
        {% for a in new %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
            </div>
            <div class="col-xs-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date to air : {{ a.air_start | date }}</p>
                {#<p>Rating</p>#}
            </div>
          </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" href='/animedatabase'>More recent anime</a>{#onclick="location.href='/animedatabase'"#}
    </div>
  </div>


{% endblock %}
