{# resources/views/index.html #}

{% from 'macros.anime_cover' import anime_cover %}

{% extends 'layout' %}

{% block content %}
  <img src="/images/nextanime.png" class="img-responsive" alt="Image Not available">

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>Recommendations</h3>
      {% if recs %}
          {% for a in recs %}
            <div class="row">
             <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
             </div>
              <div class="col-xs-8 col-md-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <a class="btn btn-primary" data-id="{{ a.id }}" data-toggle="modal" data-target="#add">Add</a>
              </div>
            </div><br>
          {% else %}
            <p>No reccomendations found. Complete your <a href="/library">library</a> for more options!</p>
          {% endfor %}
        {% if (recs | length) %}
        <a class="btn btn-default" type="button" href='/recommendations'>More recommended anime</a>
        {% endif %}
      {% else %}
        <div class="text-center">
          <h4>Login for personalised recommendations!</h4>
          <div class="action-button"><a class="btn btn-primary" href="/login">Login or Sign Up</a></div>
        </div>
      {% endif %}
    </div>


  {# Top anime #}
    <div class="col-xs-12 col-md-4">
      <h3>Top anime</h3>
        {% for a in top %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
            </div>
            <div class="col-xs-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <p>Rating: {{ a.rating }}</p>
            </div>
           </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" href='/animedatabase'>More top anime</a>
    </div>


  {# New #}
    <div class="col-xs-12 col-md-4">
      <h3>New</h3>
        {% for a in new %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}">{{ anime_cover(a) }}</a>
            </div>
            <div class="col-xs-8">
                <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
                <p>Air Date : {{ a.air_start | date }}</p>
            </div>
          </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" href='/animedatabase'>More recent anime</a>{#onclick="location.href='/animedatabase'"#}
    </div>
  </div>


  <div id="add" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('#add').on('show.bs.modal', function(e) {
      //get data-id attribute of the clicked element
      var entryId = $(e.relatedTarget).data('id');
      $('#add .modal-content').load('/library/edit/'+entryId);
    });
  </script>
{% endblock %}
