{# resources/views/index.html #}

{% extends 'layout' %}

{% block content %}
  <div class="row">
    {# loginsignup/recomandari , trebuie un if #}
    <div class="col-xs-12 col-md-4">
      <h3>Recommendations</h3>
      {% if recs %}
          {% for a in recs %}
            <div class="row">
             <div class="col-xs-4">
                <a href="/anime/{{ a.id }}" id="rec_anime_col"><img src="//s3.amazonaws.com/nextanime/anime_covers/{{ a.id }}.jpg" class="img-responsive" alt="Image Not available"></a>
             </div>
              <div class="col-xs-8 col-md-8">
                <a href="/anime/{{ a.id }}">{{ a | display_title }}</a>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date aired : {{ a.air_start }}</p>
                <p>Rating</p>
                <button type="button" class="btn btn-primary" onclick="addToUserAnimeList()">Add</button>
                <button type="button" class="btn btn-danger" onclick="removeFromRec()">X</button>
              </div>
            </div>
          {% endfor %}
        <a class="btn btn-default" type="button" href='/recommendations'>More recommended animes</a>
      {% else %}
        <div class="text-center">
          <h4>Sign up for personalised recommendations!</h4>
          <div class="action-button"><a class="btn btn-primary" href="/login">Login</a></div>
          <div class="action-button"><a class="btn btn-primary" href="/register">Create account</a></div>
        </div>
      {% endif %}
    </div>


  {# Top animes #}
    <div class="col-xs-12 col-md-4">
      <h3>Top anime</h3>
        {% for a in top %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}" id="top_anime_col"><img src="//s3.amazonaws.com/nextanime/anime_covers/{{ a.id }}.jpg" class="img-responsive" alt="Image Not available"></a> {# initial era la id latest_entry_image #}
            </div>
            <div class="col-xs-8">
                <a href="/anime/{{ a.id }}">{{ a | display_title }}</a>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date aired : {{ a.air_start }}</p>
                <p>Rating</p>
            </div>
           </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" href='/animedatabase'>More top animes</a>
    </div>


  {# New #}
    <div class="col-xs-12 col-md-4">
      <h3>New</h3>
        {% for a in new %}
          <div class="row">
            <div class="col-xs-4">
                <a href="/anime/{{ a.id }}" id="coming_soon_col"><img src="//s3.amazonaws.com/nextanime/anime_covers/{{ a.id }}.jpg" class="img-responsive" alt="Image Not available"></a> {# initial era la id latest_entry_image #}
            </div>
            <div class="col-xs-8">
                <a href="/anime/{{ a.id }}">{{ a | display_title }}</a>
                <p>Nr of eps : {{ a.nr_episodes }}</p>
                <p>Date to air : {{ a.air_start }}</p>
                <p>Rating</p>
            </div>
          </div><br>
        {% endfor %}
      <a class="btn btn-default" type="button" onclick="location.href='/animedatabase'">More recent anime</a>
    </div>
  </div>


{% endblock %}
