{% set title = 'My Library' %}

{% extends 'layout' %}

{% block content %}
  <h2>{{ title }}</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Anime</th>
        <th>Status</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for a in user_anime %}
      <tr>
        <td><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></td>
        <td>{{ a._pivot_status }}</td>
        <td>{{ a._pivot_rating }}</td>
        <td>
          <form class="form-inline" method="post" action="/library/remove" role="form">
            {{ csrfField | safe }}
            <input type="hidden" name="id" value="{{ a.id }}" />
            <a class="btn btn-warning" data-id="{{ a.id }}" data-toggle="modal" data-target="#add_edit">Edit</a>
            <input class="btn btn-danger" type="submit" value="Remove" />
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#add_edit">Add Anime</a>

  <div id="add_edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

    </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  $('#add_edit').on('show.bs.modal', function(e) {
    //get data-id attribute of the clicked element
    var entryId = $(e.relatedTarget).data('id');
    $('#add_edit .modal-content').load('/library/edit/'+entryId);
  });
</script>
{% endblock %}
