
{# resources/views/MainPageLicenta.html #}


{% extends 'PageTemplateLicenta' %}

{# lista genuri , in progress #}
{% block genres %}
  {% set genre = ["Action","Adventure","Shounen","Horro","Slice of life","Historical","Mystery","Drama",
  "Supernatural","Sci fi","Ecchi ","Fantasy","Game","Comedy","Vampire","School","Police","Psychological",
  "Martial arts","Super power","Romance","Seinen","Harem ","Military","Thriller","Space",
  "Dementia","Mecha","Parody","Shoujo","Kids","Demons","Sports","Cars"] %}
  {% set counter = 1 %}

   <div class="row">
    {% for i in genre %}
      {% if counter%4 <= 3 %}
        <div class="col-xs-3"><input type="checkbox" value={{i}}>{{i}}</div> {# sa vad cum dau escape la " " #}
        {{ counter++ }}
      {% endif %}
      {% if counter%4 == 0 %} {# sau daca am ajuns la capat de lista #}
        </div>
        {{ counter++ }}
        <div class="row">
      {% endif %}
    {% endfor %}
   </div>

{% endblock %}

{# loginsignup/recomandari , trebuie un if #}
{% block leftcolumn %}
  {% set range = [0,1,2,3] %}
  <div class="col-xs-4">
  <h4>Recommendations</h4>
  {% for i in range %}
    <div>
      <div class="btn-group">
        <button type="button" onclick="addToUserAnimeList()">Add</button>
        <button type="button" onclick="removeFromRec()">X</button>
      </div><br>
      <a href="/animepage"><img src="images/scenicanime.jpeg" id="recImage" alt="Some problem"></a>
      <p>Name of anime</p>
    </div>
    <br>
  {% endfor %}
  </div>
{% endblock %}


{# Top animes #}
{% block centralcolumn %}
  {% set range = [0,1,2,3,4,5,6,7,8,9] %}
  <div class="col-xs-4">
    <h3>Top animes</h3>
    <div class="scroll">
      {% for i in range %}
        <div class="row">
          <div class="col-xs-3">
              <a href="/animepage"><img src="images/scenicanime.jpeg" id="latest_entry_image" alt="Some problem"></img></a>
          </div>
          <div class="col-xs-9">
              <a href="/animepage">name of anime</a>
              <p>Nr of eps</p>
              <p>Date aired</p>
              <p>Description</p>
          </div>
         </div><br>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{# coming soon #}
{% block rightcolumn %}
  {% set range = [0,1,2,3,4,5,6,7,8,9] %}
  <div class="col-xs-4">
    <h3>Coming soon</h3>
    <div class="scroll">
      {% for i in range %}
        <div class="row">
          <div class="col-xs-3">
              <a href="/animepage"><img src="images/scenicanime.jpeg" id="latest_entry_image" alt="Some problem"></img></a>
          </div>
          <div class="col-xs-9">
              <a href="/animepage">name of anime</a>

              <p>Date to air</p>
              <p>Description</p>
          </div>
        </div><br>
      {% endfor %}
    </div>
  </div>
{% endblock %}
