
{# resources/views/MainPageLicenta.html #}


{% extends 'PageTemplateLicenta' %}

{# lista genuri , in progress #}

{% block genres %}
  {% set genre = ["Action","Adventure","Shounen","Horro","Slice of life","Historical","Mystery","Drama",
  "Supernatural","Sci fi","Ecchi ","Fantasy","Game","Comedy","Vampire","School","Police","Psychological",
  "Martial arts","Super power","Romance","Seinen","Harem ","Military","Thriller","Space",
  "Dementia","Mecha","Parody","Shoujo","Kids","Demons","Sports","Cars"] %}
  {% set counter = 1 %}

   <div class="row">
    {% for i in genre %}
      {% if counter%4 <= 3 %}
        <div class="col-xs-3"><input type="checkbox" value={{i}}>{{i}}</div> {# sa vad cum dau escape la " " #}
        {# counter se incrementeaza automat #}
      {% endif %}
      {% if counter%4 == 0 %} {# sau daca am ajuns la capat de lista #}
        </div>

        <div class="row">
      {% endif %}
    {% endfor %}
   </div>

{% endblock %}


{# loginsignup/recomandari , trebuie un if #}
{% block leftcolumn %}
  {% set range = [0,1,2,3,4,5,6,7,8,9] %}
  <div class="col-xs-4">
    <h3>Recommendations</h3>
    <br>
    <div class="scroll">
      {% for i in range %}
        <div class="row">
         <div class="col-xs-4">
           <div class="btn-group">

            <a href="/animepage" id="rec_anime_col" onclick="colOnAnimePage()"><img src="images/scenicanime.jpeg" class="recImage" alt="Some problem"></a>

           </div>
         </div>
          <div class="col-xs-8">

            <a href="/animepage">name of anime</a>
            <p></p>
            <p>Nr of eps</p>
            <p>Date aired</p>
            <p>Rating</p>
            <button type="button" onclick="addToUserAnimeList()">Add</button>
            <button type="button" onclick="removeFromRec()">X</button>
          </div>
        </div>
        <br>
      {% endfor %}
    </div>
    <p></p>
    <button type="button" onclick="location.href='http://localhost:3333/animepage'">List of recommended animes</button>
  </div>
{% endblock %}


{# Top animes #}
{% block centralcolumn %}
  {% set range = [0,1,2,3,4,5,6,7,8,9] %}
  <div class="col-xs-4">
    <h3>Top animes</h3>
    <br>
    <div class="scroll">
      {% for i in range %}
        <div class="row">
          <div class="col-xs-4">
              <a href="/animepage" id="top_anime_col" onclick="colOnAnimePage()"><img src="images/scenicanime.jpeg" class="recImage" alt="Some problem"></img></a> {# initial era la id latest_entry_image #}
          </div>
          <div class="col-xs-8">
              <a href="/animepage">name of anime</a>
              <p></p>
              <p>Nr of eps</p>
              <p>Date aired</p>
              <p>Rating</p>
          </div>
         </div><br>
      {% endfor %}
    </div>
    <p></p>
    <button type="button" onclick="location.href='http://localhost:3333/animepage'">List of top animes</button>
  </div>
{% endblock %}


{# coming soon #}
{% block rightcolumn %}
  {% set range = [0,1,2,3,4,5,6,7,8,9] %}
  <div class="col-xs-4">
    <h3>Coming soon</h3>
    <br>
    <div class="scroll">
      {% for i in range %}
        <div class="row">
          <div class="col-xs-4">
              <a href="/animepage" id="coming_soon_col" onclick="colOnAnimePage()"><img src="images/scenicanime.jpeg" class="recImage" alt="Some problem"></img></a> {# initial era la id latest_entry_image #}
          </div>
          <div class="col-xs-8">
              <a href="/animepage">name of anime</a>
              <p></p>
              <p>Date to air</p>
              <p>Rating</p>
          </div>
        </div><br>
      {% endfor %}
    </div>
    <p></p>
    <button type="button" onclick="location.href='http://localhost:3333/animepage'">List of animes coming soon</button>
  </div>
{% endblock %}
