<!DOCTYPE html>

{# resources/views/LicentaMainPage.html #}
<html lang="en">
<head>
	<title>NextAnime</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{#
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script id="facebook-jssdk" src="/connect.facebook.net/en_US/sdk.js#xfbml=1&appId=250769461611065&version=v2.3"></script>
	<script src="http://a.mhcdn.net/media/js/fb_dialog.js?v=20160203150507"></script>
	<script src="http://a.mhcdn.net/media/js/comments.js?v=20160203150507"></script>
	#}
	<link href="lib/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="LicentaCSS.css">
</head>

<body>

<div class="container">

	<div>

	  <!--navbar-->

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/mainpage" id="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="animetab">Animes <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="AnimeDB.html">Anime List</a></li>
							<li><a href="TopAnime.html">Top Anime</a></li>
							<li><a href="LatestAnime.html">Latest Anime</a></li>
							<li><a href="UserAnime.html">My Anime List</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="rectab">Recommendations <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="UniversalRec.html">Most Recommended</a></li>
							<li><a href="PersonalRec.html">My Recommendations</a></li>
						</ul>
					</li>
					<li>
						<a href="Forum.html"  id="forumtab">Forum</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li>
						<!--<input  type="text" id="search" placeholder="Search"><button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="search_btn"></button>	-->

						<!--Search button-->
						<form class="navbar-form navbar-right" role="search">
							<div class="input-group">
								<input type="search" class="form-control" placeholder="Search" ng-model="searchTerm" id="search">
								<div class="input-group-btn">
                  {# <!-- aici e sageata cu lista de genuri -->
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
									<div class="dropdown-menu" id="dropdownMenu">
										{% block genres %}
                    {% endblock %}
									</div>
                  #}
									<button class="btn btn-default" type="submit" ng-click="search(searchTerm)"><span class="glyphicon glyphicon-search"></span></button> <!--ng-click e din angular-->
								</div>
							</div>
						</form>
					</li>

					<!--<li>
						<button type="button" class="btn" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-edit" id="log_in"></span> Log In</button>
					</li>-->
					<li>
						<a href="#" data-toggle="modal" data-target="#myModal1" id="log_in" onClick="clearFields()"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
					</li>

					<li>
						<a href="#" data-toggle="modal" data-target="#myModal2" id="sign_up" onClick="clearFields()"><span class="glyphicon glyphicon-edit"></span> Sign up</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="jumbotron">
			<img src="images/scenicanime.jpeg" class="img-rounded" id="topimage" alt="Some problem">
		</div>

		<!-- Log In Modal -->

		<div class="modal fade" id="myModal1" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content -->
				<div class="modal-content">
					<form action="http://127.0.0.1:8081/process_get" method="GET" id="login_form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Log In</h4>
						</div>
						<div class="modal-body">
							<label for="login_username" class="sr-only">Username</label>
							<input type="text" class="form-control" name="login_username" id="login_username"
									placeholder="Username" value="" tabindex="3" required min="4" pattern="[a-zA-Z0-9]"  />


							<label for="login_password" class="sr-only">Password</label>
							<input type="password" class="form-control" name="login_password" id="login_password"
									placeholder="Password" value="" tabindex="4" required min="8" />
						</div>
						<div class="modal-footer">
							<p>Use existing account : </p>
							<select id="selectStatus">
								<option value="nothing"></option>
								<option value="facebookLogIn">Facebook</option>
								<option value="gmailLogIn">Gmail</option>
								<option value="malLogIn">MAL</option>
								<option value="vndbLogIn">VNDB</option>
								<option value="reddit">Reddit</option>
							</select>
							<button type="button" class="btn btn-default">Log In</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Sign Up Modal -->

		<div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->

				<div class="modal-content">
					<form action="http://127.0.0.1:8081/process_get" method="GET">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Sign up</h4>
						</div>
						<div class="modal-body">

							<p><b>The use of obscene ,inappropriate ,insulting ,or racist words is strictly forbidden!</b><p>
							<p>The following characters may not be used : . , ~ ! @ # $ % ^ & * < > ? / \ |</p>

							<label for="new_username" class="sr-only">Username</label>
							<input type="text" class="form-control" name="new_username" id="new_username"
									placeholder="Username" value="" tabindex="3" required min="4" pattern="[a-zA-Z0-9]"  />

							<label for="new_password" class="sr-only">Password</label>
							<input type="password" class="form-control" name="new_password" id="new_password"
									placeholder="Password" value="" tabindex="4" required min="8" />

							<label for="password2" class="sr-only">Retype password</label>
							<input type="password" class="form-control" name="new_password2" id="password2"
									placeholder="Retype password" value="" tabindex="5" required min="8" />

							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" name="email" id="email"
									placeholder="Email" value="" tabindex="6" required />
						</div>
						<div class="modal-footer">

							<button type="submit" class="btn btn-default submit_button_New" value="submit">Sign up</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>




		<div class="row">

      <!-- Recomandari/Signuplogin -->


		  {% block leftcolumn %}
      {% endblock %}


			<!-- Main Content/TOP -->

      {% block centralcolumn %}
      {% endblock %}


			<!-- FB/Comingsoon/Entries -->

      {% block rightcolumn %}
      {% endblock %}

		</div>
	</div>
  <p></p>
	<footer id="lowerlinks">
		<a href="https://www.facebook.com/"><img src="images/facebook-logo.jpg" name="facebook_picture" class="social_media_logo" alt="Some problem"></a>
		<a href="https://www.gmail.com/"><img src="images/google+-logo.png" name="gmail_picture" class="social_media_logo" alt="Some problem"></a>
		<a href="https://www.reddit.com/"><img src="images/redditisfun.jpeg" name="reddit_picture" class="social_media_logo" alt="Some problem"></a>
		<br>
		<p>NextAnime.net is a property of Alecu&Onete, @2016 All Rights Reserved</p>
	</footer>

</div>

  {# <script src="lib/angular-1.4.8/angular.min.js"></script>
  <script src="lib/angular-1.4.8/angular-route.min.js"></script>
  <script src="lib/jquery-1.11.3.min.js"></script>
  <script src="lib/bootstrap-3.3.6/js/bootstrap.min.js"></script> #}
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="LicentaSiteJS.js"></script>
</body>
</html>
{#
{% if user.logged "true" %}
	<li>
		<a href="#" id="log_out"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
	</li>
	<li>
		<a href="#" data-toggle="modal" data-target="#myModal3" id="change_acc"><span class="glyphicon glyphicon-transfer"></span> Change Account</a>
	</li>
{% else %}
	<li>
		<a href="#" data-toggle="modal" data-target="#myModal1" id="log_in"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
	</li>

	<li>
		<a href="#" data-toggle="modal" data-target="#myModal2" id="sign_up"><span class="glyphicon glyphicon-edit"></span> Sign up</a>
	</li>
{% endif %}
#}
