
{# resources/views/UserProfileLicenta.html #}


{% extends 'PageTemplateLicenta' %}

{# lista genuri , in progress #}
{% block genres %}
  {% set genre = ["Action","Adventure","Shounen","Horro","Slice of life","Historical","Mystery","Drama",
  "Supernatural","Sci fi","Ecchi ","Fantasy","Game","Comedy","Vampire","School","Police","Psychological",
  "Martial arts","Super power","Romance","Seinen","Harem ","Military","Thriller","Space",
  "Dementia","Mecha","Parody","Shoujo","Kids","Demons","Sports","Cars"] %}
  {% set counter = 1 %}

   <div class="row">
    {% for i in genre %}
      {% if counter%4 <= 3 %}
        <div class="col-xs-3"><input type="checkbox" value={{i}}>{{i}}</div>
        {# counter se incrementeaza automat #}
      {% endif %}
      {% if counter%4 == 0 %} {# sau daca am ajuns la capat de lista#}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
   </div>

{% endblock %}


{# User Profile #}
{% block centralcolumn %}
  {% set username="Raylight" %} {# de adugat tabel cu toate detaliile #}
  {% set name="Gabriel" %}
  {% set age="23" %}
  {% set country="Romania" %}
  {% set description="I iz potato" %}
  <div class="col-xs-8">
    <h2> {{ username }}'s Profile</h2>
    <div class = "col-xs-4">
    	<a href="#"><img src="images/noraNOPE.png" id="curImage" alt="Some problem"></a>
    	<button type="button" onclick="addToFriendList()"><span class="glyphicon glyphicon-plus"></span>Friend Request</button><br>
    	<button type="button" onclick="sendMessage()"><span class="glyphicon glyphicon-envelope"></span>Message</button><br>
    	<button type="button" onclick="recFriend()"><span class="glyphicon glyphicon-hand-right"></span>Recommend Friend</button><br>
    	<h4>Friends<h4>
    	<a href="#"><img src="images/noraNOPE.png" id="friendImage" alt="Some problem"></a>
    	<a href="#"><img src="images/noraNOPE.png" id="friendImage" alt="Some problem"></a>

    </div>
    <div class = "col-xs-8">
    	<h3>Statistics</h3>
    	<p>Animes :
    		<div class="progress">
    			<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">40%</div>
    			<div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">30%</div>
    			<div class="progress-bar" role="progressbar" style="width:20%">20%</div>
    			<div class="progress-bar progress-bar-info" role="progressbar" style="width:10%">10%</div>
    		</div>
    	</p>
    	<p>Legend :
    		<div class="progress">
    			<div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
    			Current
    			</div>
    			<div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%">
    			Plan to
    			</div>
    			<div class="progress-bar" role="progressbar" style="width:25%">
    			Finished
    			</div>
    			<div class="progress-bar progress-bar-info" role="progressbar" style="width:25%">
    			Dropped
    			</div>
    		</div>
    	</p>
    	<p>Compatibility : <meter value="0.7"></meter></p>
    </div>

    <div class = "col-xs-4">
    	<!-- de cercetat mai mult carousel-->
    </div>

    <div class = "col-xs-8">

    	<h4 align="left">Description</h4><br>
    	<div class="row">
    		<div class="col-xs-4">Name : {{ name }}</div>
    		<div class="col-xs-4">Age : {{ age }}</div>
    		<div class="col-xs-4">Country : {{ country }}</div>
    	</div>
    	<textarea rows="5" cols="50">{{ description }}</textarea>

    </div>
  </div>
{% endblock %}


{# Latest Entries + FB #}
{% block rightcolumn %}
  {% set range = [0,1,2,3,4] %}
  <div class="col-xs-4">
    <h4>Latest news</h4>
    <iframe src="https://www.facebook.com/bogdangabriel.onete">
      <p>Technical difficulties or your browser does not support iframes.</p>
    </iframe>

    <h3>Lists</h3>
    <a href="UserAnimeList.html"><h4>Anime List</h4></a><br>

    <h3>Latest Entries</h3><br>
    <div class="scroll">
    {% for i in range %}
      <div class="row">
        <div class="col-xs-3">
          <a href="/animepage"><img src="images/scenicanime.jpeg" id="latest_entry_image" alt="Some problem"></img></a>
        </div>
        <div class="col-xs-9">
          <a href="/animepage">name of anime</a>
          <p>Episodes :</p>
          <p>Date</p>
        </div>
      </div><br>
    {% endfor %}
    </div>
  </div>
{% endblock %}
