
{# resources/views/user_profile.html #}

{% extends 'layout' %}

{# User Profile #}
{% block content %}

  {% set friendsList=["Onee-sama","Senpai"] %}
  <div class="col-xs-12 col-md-9">

    <h3> {{ currentUser.profile_name }}'s Profile</h3>

      <div class = "col-xs-3">
        <img src="images/noraNOPE.png" class="img-responsive" alt="Image Not available"><br>
        <button type="button" onclick="addToFriendList()" class="userProfBtn"><span class="glyphicon glyphicon-plus"></span> Friend Request</button>
        <button type="button" onclick="sendMessage()" class="userProfBtn"><span class="glyphicon glyphicon-envelope"></span> Message</button>
        <button type="button" onclick="recFriend()" class="userProfBtn"><span class="glyphicon glyphicon-hand-right"></span> Recommend Friend</button>
        <h4>Friends</h4>
        {% for friend in friendsList %}
          <a href="#"><img src="images/noraNOPE.png" class="iconImage" alt="Image Not available" title={{ friend }}></a>
        {% endfor %}
        <br>
        <h3>Lists</h3>
        <a href="/library"><h4>Anime List</h4></a>
      </div>

      <div class = "col-xs-9">
        <h4>Statistics</h4>
        <p>Animes :
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">40%</div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">30%</div>
            <div class="progress-bar" role="progressbar" style="width:20%">20%</div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width:10%">10%</div>
          </div>
        </p>
        <p>Total entries : </p>
        <p>Legend :
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
            Current
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%">
            Plan to
            </div>
            <div class="progress-bar" role="progressbar" style="width:25%">
            Finished
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width:25%">
            Dropped
            </div>
          </div>
        </p>
        <p>Compatibility : <meter value="0.7"></meter></p>
        <p></p>
        <h4> Currently </h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Cover</th>
            <th>Anime</th>
            <th>Status</th>
            <th>Rating</th>
          </tr>
          </thead>
          {% for a in watching %}
            <tbody>
              <tr>
                <td><a href="/anime/{{ a.id }}"><img src="//nextanime.net/media/anime_covers/{{ a.id }}.jpg" class="img-responsive iconImage" alt="Image Not available"></a></td>
                <td><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></td>
                <td>{{ a._pivot_status }}</td>
                <td>{{ a._pivot_rating }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>

        <p></p>
        <h4> Completed </h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Cover</th>
            <th>Anime</th>
            <th>Status</th>
            <th>Rating</th>
          </tr>
          </thead>
          {% for a in completed %}
            <tbody>
            <tr>
              <td><a href="/anime/{{ a.id }}"><img src="//nextanime.net/media/anime_covers/{{ a.id }}.jpg" class="img-responsive iconImage" alt="Image Not available"></a></td>
              <td><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></td>
              <td>{{ a._pivot_status }}</td>
              <td>{{ a._pivot_rating }}</td>
            </tr>
            </tbody>
          {% endfor %}
        </table>

      </div>

  </div>



{# Latest Entries + FB #}
{#
  {% set range = [0,1,2,3,4] %}
  <div class="col-xs-12 col-md-3">
    <h4>Latest news</h4> <!--www.facebook.com/AlexRaylight/-->
    <iframe src="http://www.bing.com" id="fbiframe" scrolling="auto" onload="resizeFrame(this)" name="fbframe">
      <p>Technical difficulties or your browser does not support iframes.</p>
    </iframe>


    <h4>Latest Entries</h4>
    <br>
    <div class="scroll">
    {% for i in range %}
      {% for a in completed %} <!--need the most recent added to db-->
        <div class="row">
          <div class="col-xs-3">
            <a href="/anime/{{ a.id }}"><img src="//nextanime.net/media/anime_covers/{{ a.id }}.jpg" class="img-responsive iconImage" alt="Image Not available"></a>
          </div>
          <div class="col-xs-9">
            <p><a href="/anime/{{ a.id }}">{{ a | display_title }}</a></p>
            <p>Episodes : {{ a.nr_episodes }}</p> <!--need the most recent added to db-->
            <p>Date : {{ a.air_start | date }}</p><!--need the most recent added to db-->
          </div>
        </div><br>
      {% endfor %}
    {% endfor %}
    </div>
  </div>#}
{% endblock %}
