#topimage
{
	width:1000px;
	height:260px;
}
h1
{
	margin : auto;
	width: 100%;
}

h3
{
	margin : auto;
	width: 50%;
}
body
{
	/*background-image: url("maxresdefault.jpg");*/
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.social_media_logo{
	width : 35px;
	height : 35px;
	margin-left : 25px;
	margin-right : 25px;
}
#lowerlinks{

	text-align : center;
}
#fixed{
	position: fixed;
	top : 0;

}
#recImage{
	height : 170px;
	width : 120px;
}
.addRemBtns{
	align-self : center;
}
#search{
	width : 300px;
}
#curImage{
	height : 260px;
	width : 175px;
}
#charImage{
	height : 50px;
	width : 50px;
}
#dropdownMenu{
	width : 373px;
}
#latest_entry_image{
	height : 120px;
	width : 90px;
}
.scroll {
  width: auto;
  height: 800px;
  /*overflow-x: hidden;
  overflow-y: auto; *//*sau scroll*/
  overflow : auto;
}
#friendImage{
  width : 40px;
  height : 40px;
}



